<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.jboss" level="INFO"/>
    <logger name="com.espertech" level="INFO"/>
    <logger name="com.hp" level="INFO"/>
    <logger name="org.apache.jena" level="INFO"/>
    <logger name="org.apache.http.wire" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="ws.wamp" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
