<div class="col-md-9">
    <div class="alert alert-warning meter-alert" role="alert"
         ng-repeat="alert in alerts">
        <!--<strong>{{alert.type}}</strong>-->
        {{alert.get('dul:hasEventDate') | date: 'medium'}}<br/>
        <small>{{alert.get('dul:involvesAgent')}}</small>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <select class="form-control">
                        <option>Info</option>
                        <option>Warning</option>
                        <option>Danger</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>