<div class="col-md-9">
    <div class="alert meter-alert" role="alert"
         ng-class="getTypeClass(alert)"
         ng-repeat="alert in alerts">
        <strong>{{alert.get('rdf:type/dul:isClassifiedBy/rdfs:label')}}</strong>
        {{alert.get('dul:hasEventDate') | date: 'medium'}}
        <span class="badge">{{alert.count}}</span>
        <br/>
        <small>{{alert.get('dul:involvesAgent')}}</small>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <select class="form-control">
                        <option>All</option>
                        <option>Info</option>
                        <option>Warning</option>
                        <option>Danger</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>