<div class="col-md-9">
    <div class="panel panel-default"> 
        <div class="panel-heading">Total: {{meters.length}}</div>
        <div class="list-group meter-list">
            <a href="#/meters/{{meter.uri}}/info" class="list-group-item" 
               ng-repeat="meter in meters"
               ng-click="setSelected(meter.uri)"
               ng-class="{'active': isSelected(meter.uri)}">
                Mercury 230 #{{meter.get('em:hasSerialNumber')}}
            </a>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label for="type">Type</label>
                    <select class="form-control" id="type">
                        <option>Mercury 230</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-block">Apply</button>
            </form>
        </div>
    </div>
</div>