<div class="col-md-9">
    <h2>Info
        <a href="http://192.168.134.114/resource/properties/?r={{meter.uri}}" 
           class="btn btn-default btn-xs" role="button" 
           target="_blank">Edit in OntoWiki</a>
    </h2>
    <dl class="dl-horizontal">
        <dt>HTTP URI:</dt><dd>{{meter.uri}}</dd>
        <dt>Serial Number:</dt><dd>{{meter.get('em:hasSerialNumber')}}</dd>
        <dt>Stream URI:</dt><dd>{{meter.get('em:hasStream')}}</dd>
    </dl>
    <div class="panel panel-default" ng-controller="MeterChartCtrl">
        <form name="datepickerForm" class="panel-heading form-inline" role="form">
            <div class="form-group">
                <input class="form-control" ng-model="fromDate" 
                       data-mix-date="{{fromDate}}" placeholder="From" 
                       bs-datepicker type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" ng-model="untilDate"
                       data-mix-date="{{untilDate}}" placeholder="Now"
                       bs-datepicker type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="changedDateRange()">Apply</button>
            </div>
        </form>
        <div class="panel-body">
            <highchart id="meter-observations" config="chartConfig"></highchart>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Alerts History (last 5)</div>
        <div class="list-group meter-list">
            <a class="list-group-item" ng-repeat="alert in alerts">
                <h4 class="list-group-item-heading">{{alert.time| date:'medium'}}</h4>
                <p class="list-group-item-text"><small>{{alert.type}}</small></p>
            </a>
        </div>
    </div>
</div>